/* Kropka odwołanie do klasy */
.myclass {
    color: red;
}
/* Hashtag odwołanie do id */
#one {
    color: blue;
}

#two {
    color: olive;
}

body {
    font-family: Roboto ;
}

/* h1 {
    text-align: center;
    font-size: 40px;
} */

p{
    font-size: 3em;
}

#up{
    text-align: center;
    border: 10px solid blue;
    margin-bottom: 100px;
    margin-left: 100px;
}

#down{
    text-align: center;
    border: 10px solid red;
    padding-top: 20px;

}
